@import "../dashboard/dashboard.component.less";

.event-cntr {
  margin: 20px 15px;
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover>.overlay{
      display: flex;
  }
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(76, 65, 65, 0.7);
  align-items: center;
  justify-content: center;
  svg {
    margin: 0 10px;
    cursor: pointer;
  }
}

.alert-text {
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  color: #3a0005;
  letter-spacing: 0.5px;
}
