<app-header></app-header>
<div class="row main-cntr">
  <div class="col-md-4 no-padding event-cntr overlay-container" *ngFor="let event of userEvents">
    <img [src]="event.image || 'https://samueldking.co.uk/images/1288481786_1.jpg'"/>
    <span class="col-md-9 fees">{{event.fees}} INR</span>
    <span class="col-md-3 location">{{event.location}}</span>
    <div class="row title-cntr">
      <span class="col-md-7">{{event.title}}</span>
      <span class="col-md-5 duration">{{event.duration}}</span>
    </div>
    <span class="participants">{{event.participants}} seats</span>
    <span class="tags" *ngIf="event.tags">{{event.tags}}</span>
    <div class="overlay">
      <div class="col-md-12 text-align-center">
        <svg (click)="routeToEventDetail(event.id)" height="32" version="1.1" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
          <title>new-tab</title>
          <path d="M6 2v24h24v-24h-24zM28 24h-20v-20h20v20zM4 28v-21l-2-2v25h25l-2-2h-21z" style="fill: #33cede;"></path>
          <path d="M11 8l5 5-6 6 3 3 6-6 5 5v-13z" style="fill: #33cede;"></path>
        </svg>
        <svg (click)="editEvent(event)" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-c6="" fill="none" fill-rule="evenodd"><rect _ngcontent-c6="" fill="#09F" height="32" rx="3" width="32"></rect><path _ngcontent-c6="" d="M24.465 9.943l-2.408-2.408a1.823 1.823 0 0 0-2.579 0L8.995 18.02a1.952 1.952 0 0 0-.463.778L7.05 23.881c-.098.292 0 .608.219.851.17.17.389.244.608.244.073 0 .17 0 .243-.025l5.084-1.483c.292-.098.56-.244.778-.463l10.484-10.483a1.823 1.823 0 0 0 0-2.579zM9.116 22.883l.779-2.675 1.897 1.897-2.676.779zM23.25 11.33l-1.654 1.654-2.579-2.579 1.654-1.654c.025-.024.073-.024.098-.024.024 0 .048 0 .097.024l2.408 2.408c.024.025.024.073.024.098 0 .024-.024.073-.048.073z" fill="#FFF" fill-rule="nonzero"></path></g>
        </svg>
        <svg (click)="showDeleteAlert(event)" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-c6="" fill="none" fill-rule="evenodd"><rect _ngcontent-c6="" fill="#FF677A" height="32" rx="3" width="32"></rect><path _ngcontent-c6="" d="M22.886 10.7v12.547c0 .904-.732 1.636-1.636 1.636h-9a1.636 1.636 0 0 1-1.636-1.636V10.7c0-.113.091-.204.204-.204h11.864c.113 0 .204.091.204.204zm.379-2.268h-3.956a.205.205 0 0 1-.205-.164L18.9 7.28a.205.205 0 0 0-.205-.163H14.79a.205.205 0 0 0-.204.163l-.205.988a.205.205 0 0 1-.204.164h-3.942a.205.205 0 0 0-.204.204v1.04c0 .112.091.204.204.204h13.03a.205.205 0 0 0 .204-.205V8.636a.205.205 0 0 0-.204-.204z" fill="#FFF" fill-rule="nonzero"></path></g>
        </svg>
      </div>
    </div>
  </div>

  <span class="alert-text" *ngIf="userEvents.length == 0">
    You have not created any events, click on "Add Event" in header to create an event
  </span>
</div>
