<div class="col-md-12 no-padding">
  <form ngNativeValidate class="col-md-12 event-form" [formGroup]="eventForm" (ngSubmit)="addEvent()">
    <div class="col-md-12">
      <input class="event-input" type="text" formControlName="title" placeholder="Name*" required>
    </div>
    <div class="col-md-12">
      <textarea class="event-input" formControlName="description" placeholder="Description*" rows="3" required></textarea>
    </div>
    <div class="col-md-12">
      <input type="text" placeholder="Duration*" formControlName="duration" class="event-input" bsDaterangepicker required>
    </div>
    <div class="col-md-12">
      <input class="event-input" type="text" formControlName="location" placeholder="Location*" required>
    </div>
    <div class="col-md-12">
      <input class="event-input" type="number" formControlName="fees" placeholder="Fees">
    </div>
    <div class="col-md-12">
      <input class="event-input" type="text" formControlName="tags" placeholder="Tags">
    </div>
    <div class="col-md-12">
      <input class="event-input" type="number" formControlName="participants" placeholder="Maximum Participants" required>
    </div>
    <div class="col-md-12">
      <input class="event-input" type="text" formControlName="image" placeholder="Image URL">
    </div>
    <div class="col-md-12">
      <button class="save-button" type="submit">Save</button>
      <div class="cancel-button" aria-label="Close" (click)="closePopup()">Cancel</div>
    </div>
  </form>
</div>
