/deep/ .event-popup {
  max-width: 500px;
}

.event-form {
  padding: 20px 0;
  text-align: center;
}

.event-input {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8ebed;
  box-shadow: none;
  width: 90%;
  font-size: 14px;
  line-height: 33px;
  font-weight: normal;
  font-style: normal;
  outline: none;
  font-stretch: normal;
  padding: 0 10px;
  letter-spacing: 3.1px;
  color: #656565;
  margin-bottom: 15px;
}

.event-form-button {
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.cancel-button:extend(.event-form-button) {
  display: inline-block;
  padding: 5px 10px;
  background: #de1c1c;
}

.save-button:extend(.event-form-button) {
  margin: 0 15px;
  width: 65px;
  height: 36px;
  border: none;
  color: #fff;
  border-radius: 2px;
  background: #0099ff;
}
