.main-cntr {
  min-height: 87vh;
  background-color: #f6f9fa;
  margin: 0;
  padding: 2% 5%;
}

.event-cntr {
  margin: 20px 0;
  span{
    padding: 0
  }
  .fees {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 25px;
    color: #fff705;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;;
  }
  .location {
    position: absolute;
    top: 0;
    right: 0px;
    margin: 5px 15px 0 0;
    background: #6969694a;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #000;
    text-align: center;
  }
  .title-cntr {
    margin: 0;
    .participants {

    }
  }
  .duration {
    font-size: 14px;
    text-align: right;
  }
  .tags {
    margin-left: 25px;
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 13px;
  }
}

img {
  width: 100%;
  max-height: 200px;
  cursor: pointer;
}
