<app-header></app-header>
<div class="row main-cntr">
  <div class="col-md-4 event-cntr" (click)="routeToEventDetail(event.id)" *ngFor="let event of events">
    <img [src]="event.image || 'https://samueldking.co.uk/images/1288481786_1.jpg'"/>
    <span class="col-md-9 fees">{{event.fees}} INR</span>
    <span class="col-md-3 location">{{event.location}}</span>
    <div class="row title-cntr">
      <span class="col-md-7">{{event.title}}</span>
      <span class="col-md-5 duration">{{event.duration}}</span>
    </div>
    <span class="participants">{{event.participants}} seats</span>
    <span class="tags" *ngIf="event.tags">{{event.tags}}</span>
  </div>
</div>
