.header {
  height: 12vh;
  min-height: 80px;
  background-image: linear-gradient(269deg, #9aabd3, #738abf);
  display: flex;
  align-items: center;

  .logo-cntr {
    height: 100%;
    width: 70%;
    padding-left: 20px;
    img {
      height: 100%;
    }
  }

  .events-cntr {
    padding: 0 25px;
  }

  .events-attr {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
      height: 50px;
    }
    span {
      font-size: 12px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 2px #b7b7b7;
    }
  }

  .dropdown-content {
    display: none;
    width: 100px;
    top: 100%;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    a:hover {background-color: #e6e6e6c2}
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
}
