<div class="header">
  <div class="logo-cntr">
    <a routerLink="/dashboard">
      <img src="./../../assets/img/events.png"/>
    </a>
  </div>
  <div class="events-cntr">
    <div class="events-attr" (click)="routeToMyEvents()">
      <img src="./../../assets/img/new-events.png"/>
      <span>My Events</span>
    </div>
  </div>
  <div class="events-cntr">
    <div class="events-attr" (click)="openCartModal()">
      <img src="./../../assets/img/new-add-event.png"/>
      <span>Add Event</span>
    </div>
  </div>
  <div class="events-cntr">
    <div class="events-attr dropdown">
      <img src="./../../assets/img/user.png"/>
      <div class="dropdown-content">
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
