<div class="form">
  <div class="thumbnail"><img src="./../../assets/img/events.png"/></div>
  <form ngNativeValidate [hidden]="!alreadyRegistered" [formGroup]="registerForm" (ngSubmit)="createUser()" class="register-form">
    <input type="text" formControlName="name" placeholder="User name" required/>

    <input type="text" formControlName="email" placeholder="Email address" required/>
    <p *ngIf="registerForm.get('email').hasError('pattern') || registerForm.get('email').hasError('required') && registerForm.get('email').dirty" class="alert-red">Please enter a valid email</p>

    <input type="password" formControlName="password" placeholder="Password" required/>
    <p *ngIf="registerForm.controls.password.errors  && (registerForm.get('password').dirty)" class="alert-red">Password should contain minimum 6 characters and one digit</p>

    <input type="password" formControlName="reEnterPassword" placeholder="Re-enter password" required/>
    <p *ngIf="pwdMismatch" class="alert-red">Passwords do not match</p>

    <button type="submit">create</button>
    <p class="message">Already registered? <a (click)="alreadyRegistered = !alreadyRegistered">Sign In</a></p>
  </form>

  <form ngNativeValidate [hidden]="alreadyRegistered" [formGroup]="signinForm" (ngSubmit)="signInUser()" class="login-form">
    <input type="text" formControlName="name" placeholder="User name"/>
    <input type="password" formControlName="password" placeholder="password"/>
    <p *ngIf="dataMismatch" class="alert-red">Credentials do not match</p>

    <button type="submit">login</button>
    <p class="message">Not registered? <a (click)="alreadyRegistered = !alreadyRegistered">Create an account</a></p>
  </form>
</div>
