.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 25px auto;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;

    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        a {
          color: #007bff;
          cursor: pointer;
        }
    }

    .thumbnail {
      background: #fb4b4b;
      width: 150px;
      height: 150px;
      margin: 0 auto 30px;
      padding: 50px 15px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      box-sizing: border-box;
      img {
        display: block;
        width: 100%;
      }
    }
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.alert-red {
  color: #cd1b1b;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 15px;
}
