.event-cntr {
  margin: 5% 0;
  .row {
    margin: 0;
  }
}

.detail-cntr {
  padding-left: 3%;
}

.event-keys {
  line-height: 2;
}

.action-button {
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 5%;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 800;
}

.join { background: #0099ff; }
.leave { background: #cd1b1b; }

.sub-title {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.descp-cntr {
  margin-top: 2%;
  display: inline-block;
}

ul {
  list-style: decimal;
}
