<app-header></app-header>
<div class=" event-cntr">
  <div class="row">
    <div class="col-md-6">
      <img width="100%" [src]="eventDetail?.image || 'https://samueldking.co.uk/images/1288481786_1.jpg'"/>
    </div>
    <div class="col-md-6 detail-cntr">
      <div class="sub-title">Event Details</div>
      <div class="row event-keys">
        <span class="col-md-3">Title</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.title}}</span>
      </div>
      <div class="row event-keys">
        <span class="col-md-3">Duration</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.duration}}</span>
      </div>
      <div class="row event-keys">
        <span class="col-md-3">Location</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.location}}</span>
      </div>
      <div class="row event-keys">
        <span class="col-md-3">Fees</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.fees}}</span>
      </div>
      <div class="row event-keys">
        <span class="col-md-3">Max. Participants</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.participants}}</span>
      </div>
      <div class="row event-keys">
        <span class="col-md-3">Seats Left</span>
        <span class="col-md-1">:</span>
        <span class="col-md-6">{{eventDetail.participants - eventDetail.members.length}}</span>
      </div>
      <div class="join action-button" *ngIf="!isAlreadyJoined" (click)="joinEvent()">
        Join Event
      </div>
      <div class="leave action-button" *ngIf="isAlreadyJoined" (click)="joinEvent()">
        Leave Event
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 descp-cntr">
      <div class="sub-title">Description</div>
      <div class="col-md-12 description">{{eventDetail.description}}</div>
    </div>
    <div class="col-md-6 descp-cntr">
      <div class="sub-title">Participants</div>
      <ul class="description">
        <li *ngFor="let user of eventDetail.members">
          {{user}}
        </li>
      </ul>
    </div>
  </div>

</div>
